.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5vw;
    margin-bottom: 0;
    flex: 1 0 auto;
    background-color: rgb(215, 237, 237);
    min-height: 10vh;
}