@import "../../colorsConstants.scss";

.container{
    padding: 10px 5vw;
    margin: 0 auto;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 90px;
    min-height: 70vh;
    background-color: $middleGray;
}

.containerDark{
    padding: 10px 5vw;
    margin: 0 auto;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 90px;
    min-height: 70vh;
    background-color: $darkBlue;
}