@import "./../../../colorsConstants.scss";

.btn{
 position: relative;
 border: none;	
display: block;
box-sizing: border-box;			
width: 48px;	
height: 24px;
border-radius: 25%/50%;	
background:  $darkBlue;
transition:background-color ease-in-out 0.6s;
&::before{
    content: '';
	position: absolute;
	top: 0px;
	left:1px;	
	display: inline-block;
	width: 24px;	
	height: 24px;
	border-radius: 50%;
	background: white;
    transition: transform ease-in-out 0.6s;
}
}

.dark{
   background: $middleGray;
   transition:background-color ease-in-out 0.5s;
   &::before{
       transform:translateX(26px);
       transition: transform ease-in-out 0.5s;
   }
   }